.message-box {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
  }
  footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    background: rgba(216, 90, 17);
  }
  .message {
    color: #008000;
    font-weight: bold;
  }