<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-posta Gönderme Bildirimi</title>
  <link rel="stylesheet" href="static/css/style6.css">
  <script>
    setTimeout(function() {
      window.location.href = "/iletisim";
    }, 5000); // 5 saniye bekledikten sonra iletişim sayfasına yönlendir
  </script>
</head>
<body>
  <div class="message-box">
    <p class="message">Mesajınız başarıyla iletilmiştir.</p>
  </div>
</body>
</html>



<!-- <html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gönderildi</title>
  <script>
    setTimeout(function() {
      window.location.href = "/iletisim";
    }, 5000); // 5 saniye bekledikten sonra iletişim sayfasına yönlendir
  </script>
</head>
<body>
  <h1>Gönderim Başarılı!</h1>
  <p>İletişim sayfasına yönlendiriliyorsunuz...</p>
</body>
</html> -->
