<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PatiliDükkan</title>
    <link rel="stylesheet" href="static\css\style2.css">
</head>

<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <div class="logo-container">
                    <a href="{{ url_for('index') }}">
                        <img src="\static\images\logodenemeeee.png" alt="Logo">
                    </a>
                </div>
            </div>
            <ul>
                <li><a href="{{ url_for('index') }}">Ana Sayfa</a></li>
                <li><a href="{{ url_for('hakkimizda') }}">Hakkımızda</a></li>
                <li><a href="{{ url_for('hizmetler') }}">Hizmetler</a></li>
                <li><a href="{{ url_for('urunler') }}">Ürünler</a></li>
                <li><a href="{{ url_for('iletisim') }}">İletişim</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <br>
            <h2>Dükkan'a Hoş Geldiniz!</h2>
            <p>Merhaba! Ben Erhan Küçüktopana, Patili Dükkan'ın kurucusu ve bu platformda evcil dostlarınız için en kaliteli ürünleri sunmaktan gurur duyuyorum. Patili Dükkan, evcil hayvanlarınızın mutluluğunu ve sağlığını ön planda tutarak, onların ihtiyaçlarına
                uygun ürünleri sunmayı amaçlıyor.</p>


            <h2>Biz Kimiz?</h2>
            <p>Patili Dükkan ekibi olarak, evcil dostlarınızın sağlığı ve mutluluğunu her zaman öncelik olarak belirledik. Bizler, evcil hayvanlarınızın ihtiyaçlarını anlayan ve onların yaşamlarını daha iyi hale getirmeyi hedefleyen bir grup tutkulu hayvan
                severiz. Amacımız, evcil hayvanlarınız için en uygun ürünleri seçerek, sizlere kaliteli bir alışveriş deneyimi sunmaktır.
            </p>


            <h3>Ne Sunuyoruz?</h3>
            <p>Patili Dükkan, mama, kaplar, tasmalar, oyuncaklar ve daha fazlası gibi evcil dostlarınızın ihtiyacı olan her şeyi bulabileceğiniz bir platformdur. Ürünlerimiz, en yüksek kalite standartlarına ve güvenlik önlemlerine uygun olarak seçilir. Evcil
                hayvanlarınızın sağlığı ve mutluluğu bizim önceliğimizdir.</p>


            <h4>Misyonumuz ve Vizyonumuz</h4>
            <p>Misyonumuz, evcil hayvanlarınızın yaşamlarını daha sağlıklı ve mutlu hale getirmek için en iyi ürünleri sunmaktır. Vizyonumuz ise, Patili Dükkan'ı evcil hayvan sahiplerinin güvenilir bir alışveriş noktası olarak tanıtmak ve onların ihtiyaçlarını
                en iyi şekilde karşılamaktır.</p>


            <h5>Sosyal Sorumluluk</h5>
            <p>Patili Dükkan olarak, sadece işimizi yapmakla kalmayıp aynı zamanda topluma karşı da sorumluluklarımızı yerine getirmeyi hedefliyoruz. Bu nedenle, hayvan barınaklarına ve yardım kuruluşlarına düzenli olarak destek sağlıyoruz. Evcil hayvanların
                daha iyi bir yaşam sürmeleri için elimizden geleni yapıyoruz.</p>

        </div>
    </div>
    <section class="blogs">
        <div class="container"><br><br>

            <ul class="blog-list">
                <li class="blog-item">

                    <img style=" width: 300px; height: 300px; " src="\static\images\kedi.jpg" alt="" />






                </li>
                <li class="blog-item">

                    <img style=" width: 300px; height: 300px; " src="\static\images\Resimler21.jpg" alt="" />






                </li>
                <li class="blog-item">

                    <img style=" width: 300px; height: 300px; " src="\static\images\köpek.jpg" alt="" />






                </li>
                <li class="blog-item">

                    <img style=" width: 300px; height: 300px; " src="\static\images\Köpek kedi.jpg" alt="" />






                </li>
                <li class="blog-item">

                    <img style=" width: 300px; height: 300px; " src="\static\images\Kaliteli1.jpg" alt="" />






                </li>
                <li class="blog-item">

                    <img style=" width: 300px; height: 300px; " src="\static\images\Resimler22.jpg" alt="" />






                </li>


            </ul>
        </div>
    </section>
    <br>
    <hr><br>
    <footer>
        <p>Author: Erhan Küçüktopana<br>
        <a href="mailto:hege@example.com">erhan.kucuktopana@gmail.com</a></p>
      </footer>

</body>

</html>