<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PatiliDükkan</title>
    <link rel="stylesheet" href="static\css\style3.css">
</head>

<body>
 <div>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <div class="logo-container">
                    <a href="{{ url_for('index') }}">
                        <img src="\static\images\logodenemeeee.png" alt="Logo">
                    </a>
                </div>
            </div>
            <ul>
                <li><a href="{{ url_for('index') }}">Ana Sayfa</a></li>
                <li><a href="{{ url_for('hakkimizda') }}">Hakkımızda</a></li>
                <li><a href="{{ url_for('hizmetler') }}">Hizmetler</a></li>
                <li><a href="{{ url_for('urunler') }}">Ürünler</a></li>
                <li><a href="{{ url_for('iletisim') }}">İletişim</a></li>
            </ul>
        </div>

    </div>
    
    <h1>Muayene</h1>
    <p>Kliniğimizde kedi ve köpek gibi patili dostlarımızın detaylı muayeneleri yapılmaktadır.</p>

    <img src="static/images/1.jpg" alt="Patili dostlarımızın muayenesi" width="600">
    <img src="static/images/2.jpg" alt="Patili dostlarımızın muayenesi" width="600">
    <img src="static/images/4.jpg" alt="Patili dostlarımızın muayenesi" width="600">
    
</html>