<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PatiliDükkan</title>
    <link rel="stylesheet" href="static\css\style3.css">
</head>

<body>
 <div>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <div class="logo-container">
                    <a href="{{ url_for('index') }}">
                        <img src="\static\images\logodenemeeee.png" alt="Logo">
                    </a>
                </div>
            </div>
            <ul>
                <li><a href="{{ url_for('index') }}">Ana Sayfa</a></li>
                <li><a href="{{ url_for('hakkimizda') }}">Hakkımızda</a></li>
                <li><a href="{{ url_for('hizmetler') }}">Hizmetler</a></li>
                <li><a href="{{ url_for('urunler') }}">Ürünler</a></li>
                <li><a href="{{ url_for('iletisim') }}">İletişim</a></li>
            </ul>
        </div>

    </div>

    <h1>Röntgen</h1>
    <p>Bilgisayarlı Röntgen (CR) ile tüm radyografik çekim ve ölçümler yapılmaktadır. Sindirim sistemi tıkanıklıklarında kontrast maddeli radyografi, kalça displazisinin erken teşhisi için penn hip yöntemiyle çekim kliniğimizde uygulanabilmektedir.

        Röntgen çekimlerimiz stresli hastalarımızda psikolojik ve fizyolojik durum değerlendirilerek gerekirse sakinleştirici altında yapılmaktadır. Tüm kırıklar, akciğer ödemleri, bazı tümörler ve bazı kalp ölçümleri için röntgen elzemdir.
    </p>

    <img src="static/images/11.jpg" alt="Patili dostlarımızın muayenesi" width="600">
   
</body>
</html>